table  {
  border-collapse: collapse;
}

td {
  border: solid 1px;
  padding: 0.5em;
}

table .cell
{
  background: #090;
}

table .last
{
  background: #dd0;
}

table .info
{
  background: #ccc;
}

table .disc
{
  display: inline-block;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  margin: 0.25em;
}

table .white > .disc
{
  background: #fff;
}

table .black > .disc
{
  background: #000;
}

table .candi > .disc
{
  opacity: 0.2;
}

